# We provide a set of user specific ignores here.
# A pragmatic approach to preventing erroneous adding.

# python ignores
*.pyc
*.pyo

# ipython notebook
.ipynb_checkpoints

# coverage ignore
.coverage

# editors
.project
.classpath
.settings
.metadata
.pydevproject
.cache
.idea


# other generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

.cache

# distutils
build/
dist/

pelita.log
