name: Deploy docs to gh-pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy_docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # fetch all history and tags (needed for git describe)
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install sphinx and prepare repo
      run: |
        python -m pip install --upgrade pip
        python -m pip install sphinx
        pip install -e .
    - name: Build docs
      run: |
        bash ./build-docs.sh
    - name: Deploy to gh-pages
      if: github.ref == 'refs/heads/main'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: doc/build/html/

        commit_message: ${{ github.event.head_commit.message }}
